body{
    display: grid;
    place-items: center;
    padding: o;
    margin: o;
    
}
main{
    width: 50%;
    background-color: palegoldenrod;
    padding: 15px;
}
.intro > img{
    height: 20rem;
    width: 100%;
}
.input_field{
    display: flex;
    flex-direction: column;
    
}
.input_field > input {
    height: 2rem;
    border-radius: 10px;
    background-color: aquamarine;
}

button{
    border: none;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    
}

